* {
  margin: 0;
  padding: 0;
}

:root {
  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;

  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--background-default);
}

#viagem {
  box-sizing: border-box;
  width: 1120px;
  height: 3054px;
  margin: 88px auto 65px;
}

#viagem span {
  color: var(--text-headline);
  font-size: 16px;
  font-weight: 700;
}

#viagem h1 {
  color: var(--text-primary);
  margin: 8px auto 40px;
  font-size: 36px;
  font-weight: 700;
}

#viagem img {
  border-radius: 28px;
}

#viagem .subtitle {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: 24px auto 40px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: var(--border-primary);
}

main p {
  font-size: 16px;
  font-weight: 400;
  font-style: none;
}

main #sections .destinies img {
  margin: 64px auto 20px;
  border-radius: 28px;
}

main #sections .destinies h1 {
  margin-bottom: 4px;
  font-size: 28px;
  font-weight: 700;
  color: var(--text-primary);
}

main #sections .destinies p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary);
}

main #sections .destinies h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

main #sections #first-destiny ul li,
main #sections #second-destiny ul li {
  color: var(--accent-blue);
  font-size: 16px;
  font-weight: 700;
}

main #sections #third-destiny ul li {
  font-size: 16px;
  font-weight: 700;
}

main #sections #third-destiny ul li::marker {
  color: var(--text-secondary);
}

main #sections #third-destiny ul li.couples {
  color: var(--accent-purple);
}

main #sections #third-destiny ul li.families {
  color: var(--accent-pink);
}

main #sections #third-destiny ul li.budget {
  color: var(--accent-orange);
}
